.sleep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.sleep-header {
  margin-bottom: 20px;
}

.sleep-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sleep-button {
  margin-bottom: 20px;
  padding: 10px 20px;
}

h1 {
  font-size: 72px;
}

.notlogged{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}