.nutrition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
  }
  
  .nutrition-header {
    margin-bottom: 20px;
  }
  
  .nutrition-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nutrition-button {
    margin-bottom: 20px;
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 72px;
  }
  
  .notlogged{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
  }