.Home {
  width: 100%;
  font: avant grade;
}

.Home .home-header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Home .home-header .home-title{
  font-size: 100px;
}

.Home .home-header .home-subtitle{
  font-size: 60px;
}

.Home .home-header .home-header-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home .home-header .home-header-right{
  width: 30%;
}

.Home .home-header .home-header-right img{
  width: 100%;
  border-radius: 5px;
}

.Home .home-body{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 75px;
}

.Home .home-body .home-body-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home .home-body .home-body-title{
  font-size: 80px;
}

.Home .home-body .home-body-text{
  font-size: 35px;
}

.Home .home-body .home-body-right{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
